### Hola :)

In [52]:
import csv
import os

### ***args** 
El asterisco le dice a Python que va a recibir varios argumentos y args (arguments) es el nombre de la variable donde se van a guardar en forma de tupla (Los argumentos se vuelven los elementos de la tupla). 
### ***kwargs*
El doble asterisco ** indica que la variable kwargs (keyword arguments) es un diccionario cuyos índices son palabras clave y cuyos elementos son los valores (los datos) despues del igual =
## Decoradores
Un decorador es una función que toma como input a otra función que a su vez retorna otra función.

Estructura de un decorador en Python:

def function_a(function_b):  
    def function_c()  
        pass  
    return function_c

In [115]:
class read_file:
    def __init__(self, *args, **kwargs):
        self.files = args or self.get_files() #files's names
        self.paths = kwargs or  #directory's path.
        #self.paths = kwargs
        
    def get_files(self):
        return os.listdir(self.paths) #listdir method returns a list containing the names of all files and directories in the directory with path 'paths'.

SyntaxError: invalid syntax (488271083.py, line 4)

El archivo Parcial2 se pasa sin dirección (uso ***args**).  
El archivo archivo_de_texto se pasa con su dirección (uso ****kwargs**).  
r para evitar que interprete \ como un comando.

In [142]:
objeto=read_file("Parcial2", archivo_de_texto = r"C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Parcial2")

In [150]:
#files=read_file(path="archivo_de_texto", path2=".ipynb_checkpoints")

# El código de abajo es de prueba y recorderis

In [92]:
print('Get current working directory : ', os.getcwd())

Get current working directory :  C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Parcial2

In [93]:
# https://www.geeksforgeeks.org/find-path-to-the-given-file-using-python/ (Find path to the given file using Python)

In [96]:
os.listdir(os.getcwd()) #puedo ver mis archivos y directorios (en el directorio actual) en una tupla

['.git', '.ipynb_checkpoints', 'archivo_de_texto.txt', 'Parcial2.ipynb']

In [127]:
class Class:
    def __init__(self, *args, **kwargs):
        self.files = args #files's names
        self.paths = kwargs 
        
objeto=Class("Hola", "cómo", "estás?", path1="A", path2="C", path3="B")
print(objeto.paths)
print(type(objeto.files))
for i in objeto.files:
    print(i)
for key, value in objeto.paths.items():
    print(f"{key},{value}")
    
print(objeto.paths)

{'path1': 'A', 'path2': 'C', 'path3': 'B'}
<class 'tuple'>
Hola
cómo
estás?
path1,A
path2,C
path3,B
{'path1': 'A', 'path2': 'C', 'path3': 'B'}

In [208]:
import xlrd
import pandas as pd
file1 = r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Parcial2\data_base1.xlsx'
file2 = r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Parcial2\data_base2.xlsx'
file3 = r'C:\Users\Windows 10\Desktop\UNIQUINDÍO\5to Semestre\Parcial2\data_base3.xlsx'
df1 = pd.read_excel(file1, engine='openpyxl')
df2 = pd.read_excel(file2, engine='openpyxl')
df3 = pd.read_excel(file3, engine='openpyxl')
display(df1)
display(df2)
display(df3)
dfR=pd.concat([df1, df2, df3], ignore_index=True, join="inner") #Combine DataFrame objects (within the list) with overlapping columns and return only those that are shared by passing inner to the join keyword argument.
display(dfR)

   names   A1    A2  A3
0      a    1    32   1
1      r    5     7   3
2      h   79     9   7
3      m   44     0   9
4      l   68    32   5
5      y    5     5   7
6      r    7     7   7
7      q   47     9   0
8      a    4    47   9
9      q    7  8563   2
10     a  468    27   1
11     a    0    57   0
12     m   85    73   3
13    kl   43     2   0
14     i    5     3   0
15     y   77     6   9
16     h    4     3   2
17     a  634     5   3
18     r    2     7  41
19     x    3    10   3

   names  A1    B2  A3
0      t   1   1.0   9
1      h   4   2.0   7
2      j   5  38.0   4
3     lo   8   2.0   7
4      p   9   6.0   3
5      y   5   4.0   6
6      h   8   5.0   3
7     jj   0   6.0   6
8      r   7   7.0   7
9      r   8   6.0   7
10     f   9   7.0   8
11     s   6   8.0   9
12     r   1  88.0  64
13    yu   2   9.0   3
14     d   7   4.0   5
15     v   1   7.0   7
16     g   9   3.0   4
17     t   2  63.0  64
18     h   0   NaN   3
19     q   2   8.0   8

  names  A1  B2
0     r   3   0
1     h   6   4
2     j   9   2
3     o   0   8

   names   A1
0      a    1
1      r    5
2      h   79
3      m   44
4      l   68
5      y    5
6      r    7
7      q   47
8      a    4
9      q    7
10     a  468
11     a    0
12     m   85
13    kl   43
14     i    5
15     y   77
16     h    4
17     a  634
18     r    2
19     x    3
20     t    1
21     h    4
22     j    5
23    lo    8
24     p    9
25     y    5
26     h    8
27    jj    0
28     r    7
29     r    8
30     f    9
31     s    6
32     r    1
33    yu    2
34     d    7
35     v    1
36     g    9
37     t    2
38     h    0
39     q    2
40     r    3
41     h    6
42     j    9
43     o    0